#services:
#  web:
#    build: .
#    command: uvicorn app:app --host 0.0.0.0 --port 8080
#    volumes:
#      - .:/app
#    ports:
#      - "8080:8080"
#    depends_on:
#      - postgres
#    networks:
#      - app-network
#
#  postgres:
#    image: postgres:18
#    environment:
#      POSTGRES_USER: admin
#      POSTGRES_PASSWORD: admin
#      POSTGRES_DB: twitter_db
#    ports:
#      - "5432:5432"
#    volumes:
#      - ./db:/var/lib/postgresql
#      - ./pglogs:/var/log/postgresql
#    command: ["postgres", "-c", "log_destination=stderr", "-c", "logging_collector=on", "-c", "log_directory=/var/log/postgresql"]
#    networks:
#      - app-network
#
#networks:
#  app-network:

services:
  web:
    build: .
    command: uvicorn app:app --host 0.0.0.0 --port 8080
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    environment:
      ENGINE: "postgresql+asyncpg://admin:admin@postgres:5432/twitter_db"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: twitter_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d twitter_db"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
